/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* Checkboxes color */
.switch label input[type=checkbox]:checked + .lever {
  background-color: teal;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: darkcyan;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#mainFooter {
	flex: 1 0 auto;
}

input[type="search"]::-webkit-input-placeholder {
color: cyan !important;
}

input[type="search"]::-moz-placeholder {
color: cyan !important;  
}
 
input[type="search"]:-ms-input-placeholder {  
color: cyan !important;  
}