    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-accent-4">Serimantic</h1>
      <div class="row center"><h5 class="header col s12 light">What are you going to watch today ?</h5></div>
      <div class="row center">
        <a ui-sref="discover" class="btn-large waves-effect waves-light teal z-depth-3">Go !</a>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col s12 m6">
            <div class="icon-block">
              <h2 class="center teal-text text-accent-4"><i class="material-icons">personal_video</i></h2>
              <h5 class="center">The project</h5>

              <p class="light">Our project is to be able to get recommendations,
              not based on the popularity of TV shows, but on the actual content
              of seasons and episodes. This way, you can get objective advices on
              what to watch, and discover new TV shows depending on what you like.</p>
            </div>
          </div>

          <div class="col s12 m6">
            <div class="icon-block">
              <h2 class="center teal-text text-accent-4"><i class="material-icons">video_library</i></h2>
              <h5 class="center">The NLP engine</h5>

              <p class="light">Our cutting edge algorithms of recommendation are
              based on Natural Language Processing, allowing us to extract
              meaningful keywords through a semantic analysis of synopsis.
              This NLP engine relies on the Python libraries NLTK and WordNet.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
