    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-accent-4">Recommandations</h1>
      <div class="row center"><h5 class="header col s12 light">Choisissez un ou plusieurs genres qui vous tentent</h5></div>
      <div class="row center">
        <form>
          <div class="switch">
            <label>
              thriller
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
          <br>
          <div class="switch">
            <label>
              action-aventure
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
          <br>
          <div class="switch">
            <label>
              drama
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </form>
      </div>
      <div class="row center">
        <a ui-sref="ficheserie" class="btn-large waves-effect waves-light teal z-depth-3">Valider</a>
      </div>
    </div>
    <br><br>

	
