    <div class="container center grey lighten-4">
      <div class="row valign-wrapper center-align">
          <img class="col s3 materialboxed" src="https://image.tmdb.org/t/p/w500{{ tvShowData['poster_path'] }}"/>

        <div class="col s6">
          <h1 id="seriestitle">{{tvShowData["name"]}}</h1>
          <h6>{{tvShowData["overview"]}}</h6>
        </div>

        <div class="col s3">
          <h5>Genres</h5>
          <ul>
            <li ng-repeat="genre in tvShowData['genres']">{{genre["name"]}}</li>
          </ul>
          <br>
          <h5>Keywords</h5>
          <table>
            <tr ng-repeat="rowkey in keywords">
              <td class="center" ng-repeat="key in rowkey">{{key}}</td>
            </tr>
          </table>
        </div>



    </div>