{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Serimantic</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body ng-app="mainApp">
  {% verbatim %}
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <!--                                                                            -->
  <!--                                  Navbar                                    -->
  <!--                                                                            -->
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <nav class="black" role="navigation">

    <div class="nav-wrapper row">
      <!-- Left buttons-->
      <div class="hide-on-med-and-down col l5 xl4 offset-xl1">
        <ul>
          <li><a ui-sref="recommandations" class="btn black waves-effect waves-light">Recommendations</a></li>
          <li><a ui-sref="" class="btn black waves-effect waves-light">TV Shows</a></li>
        </ul>
      </div>

      <!-- Center logo-->
      <div class="col xl2 l2">
        <a id="logo-container" href="/" class="brand-logo black center teal-text text-lighten-2">Serimantic</a>
      </div>

      <!-- Right buttons and search bar -->
      <div class="hide-on-med-and-down col l4 xl4 offset-xl1 right" ng-controller="allNames">
        <ul class="row">
          <li class="col s1 center">
            <i class="white-text material-icons prefix">search</i>
          </li>
          <li class="col s6 offset-s1" id="searchbar">
            <div class="input-field">
              <input placeholder="Search" id="autocomplete-input" class="autocomplete s12" type="search" autocomplete="off" required>
            </div>
          </li>
          <li class="col s2 center">
            <a href="#" class="btn black waves-effect waves-light">
              <i class="material-icons white-text text-lighten-2">account_circle</i>
            </a>
          </li>
        </ul>
      </div>
      <ul id="nav-mobile" class="sidenav black">
        <li>
          <div class="row">
            <div class="col s4 offset-s4">
              <a href="/" class="black center teal-text text-lighten-2">Menu</a>
            </div>
            <div class="col s4">
              <a href="#" class="btn black waves-effect waves-light">
                <i class="material-icons white-text text-lighten-2">account_circle</i>
              </a>
            </div>
        </li>
        <li>
         <form class="teal-text">
            <div class="input-field">
              <input placeholder="Search" id="search" type="search" required>
            </div>
          </form>
        </li>
        <li><a ui-sref="recommandations" class="btn black waves-effect waves-light">Recommendations</a></li>
        <li><a ui-sref="" class="btn black waves-effect waves-light">TV Shows</a></li>
      </ul>
      <a href="" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div ui-view class="section no-pad-bot" id="content">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--                                                                            -->
    <!--                              Main container                                -->
    <!--                                                                            -->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  </div>

  <footer class="page-footer teal darken-3" id="mainFooter">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Bio</h5>
          <p class="grey-text text-lighten-4">Blablabla</p>


        </div>
        <div class="col l3 s6">
          <h5 class="white-text">Liste 1</h5>
          <ul>
            <li><a class="white-text" href="#!">Lien 1</a></li>
            <li><a class="white-text" href="#!">Lien 2</a></li>
          </ul>
        </div>
        <div class="col l3 s6">
          <h5 class="white-text">Liste 2</h5>
          <ul>
            <li><a class="white-text" href="#!">Lien 3</a></li>
            <li><a class="white-text" href="#!">Lien 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright center">
      <div class="container">
        <ul>
          <li>Johann Benerradi, Quentin Pouvreau, Laurine ASMR, Justinien Ghorra</li>
          <li>Copyright (c) 2014 <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a></li>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.min.js"></script>
  <script src="/static/js/init.js"></script>
  <script type="text/javascript" src="/static/bower_components/angular/angular.min.js" ></script>
  <script type="text/javascript" src="/static/bower_components/angular-ui-router/release/angular-ui-router.js" ></script>
  <script type="text/javascript" src="/static/bower_components/angular-animate/angular-animate.min.js" ></script>

  <script type="text/javascript" src="/static/js/main-app.module.js" ></script>

  {% endverbatim %}
  </body>
</html>
